
  {% extends "base.html.twig" %}

  {% block title %} accueil {% endblock %}

  {% block body %}
  <div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-5">Bienvenue sur Symrecette</h1>
    <p class="lead"> <span class="badge bg-secondary">Symrecette</span>  est une plateforme sur laquelle tu peux créer tes propres recettes à base des ingrdients que tu aurras toi-même créer.
        Tu pourras les partager avec le public ou les garder en privé.</p>
    <hr class="my-4">
    <p>Inscrit-toi pour profiter de l'application</p>
    <a class="btn btn-warning btn-lg" href="#" role="button">Inscription</a>
  </div>
</div>
  {% endblock  %}
